#topcin {font-size: 12px;}


#topsummery {
font-size: 30px;
text-align:right;
}


body {background-color: ;}
#regis{
border: solid rgb(208, 236, 50);
 }

 #firsthead {
color: red;
text-align: center;
font-size:xx-large;
 }